h1 {
    color: darkslategrey;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

div{
    text-align: center;
}
.copyright{
    color: darkslategrey;
    margin-top: 30px;
    font-size: 15px;
}